.comments{
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comment-container{
    width: 96%;
    background-color: var(--white);
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 2rem ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comment-title{
    font-weight: bold;
    padding: 1.5rem 3rem;
    font-size: 2rem;
}

.comment-table{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem;
}

.comment-table thead th {
    border-bottom: 1px solid var(--Primary-color);
    font-weight: bold;
    font-size: 1.3rem;
}

.comment-table tbody tr {
    border-bottom: var(--white);
}

.comment-table__img{
    width: 120px;
    height: 120px;
}

.comment-table__btns{
    display: flex;
    justify-content: space-around;
}

.comment-table__btn{
    width: 6rem;
    height: 2.8rem;
}

.comment-modal__form{
    height: 4rem;
    width: 95%;
}

.comment-modal__cm{
    padding: 0.8rem;
    border: none;
    background-color: var(--bg-color);
    margin: 0.8rem 0.8rem 0 0.8rem ;
    border-radius: 0.5rem;
    width: 100%;
    padding-right: 1rem;
}

.comment-modal__btns{
    width: 39rem;
    height: 2.8rem;
    margin: 1.5rem;
}

.comment-modal__closeBtn{
    width: 90%;
    height: 70%;
    margin-top: 1rem;
}

.comment-modal__editBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 41.5rem;
    height: 5rem;
}

.comment-modal__editBtn{
    width: 10rem;
    height: 3rem;
    margin: 1rem;
}

.comment-container.dark{
    background-color: var(--dark-bg-color);
    color: white;
    box-shadow: 0 4px 8px var(--dark-blue-color);
}

.comments.dark,
.comment-modal__body.dark,
.comment-modal__form.dark,
.comment-modal__btns.dark,
.comment-modal__cm.dark,
.comment-modal__editBtns.dark{
    background-color: var(--dark-bg-color);
    color: white;
}

.comment-table.dark thead th{
    color: var(--white);
    background-color: var(--dark-bg-color);
    border-color: var(--Primary-color);
}

.comment-table.dark tbody td{
    color: var(--white);
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

